<form (ngSubmit)="guardarEstudiante()" [formGroup]="estudianteForm">
  <p-dialog
    [(visible)]="display"
    [style]="{ width: '450px' }"
    [header]="tituloModal"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="nombres">Nombres</label>
        <input
          type="text"
          pInputText
          id="nombres"
          formControlName="nombres"
          autofocus
          [ngClass]="{'ng-dirty':estudianteForm.get('nombres')?.touched && estudianteForm.get('nombres')?.errors?.['required']}"
        />
        <small
          class="p-error"
          *ngIf="estudianteForm.get('nombres')?.touched && estudianteForm.get('nombres')?.errors?.['required']"
          >Nombre is required.</small
        >
      </div>
      <div class="field">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          type="text"
          pInputText
          id="apellidoPaterno"
          formControlName="apellidoPaterno"
          autofocus
          [ngClass]="{'ng-dirty':estudianteForm.get('apellidoPaterno')?.touched && estudianteForm.get('apellidoPaterno')?.errors?.['required']}"
        />
        <small
          class="p-error"
          *ngIf="estudianteForm.get('apellidoPaterno')?.touched && estudianteForm.get('apellidoPaterno')?.errors?.['required']"
          >Apellido Paterno is required.</small
        >
      </div>
      <div class="field">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          type="text"
          pInputText
          id="apellidoMaterno"
          formControlName="apellidoMaterno"
          autofocus
          [ngClass]="{'ng-dirty':estudianteForm.get('apellidoMaterno')?.touched && estudianteForm.get('apellidoMaterno')?.errors?.['required']}"
        />
        <small
          class="p-error"
          *ngIf="estudianteForm.get('apellidoMaterno')?.touched && estudianteForm.get('apellidoMaterno')?.errors?.['required']"
          >Apellido Materno is required.</small
        >
      </div>
      <div class="field">
        <label for="ci">Carnet Identidad</label>
        <p-inputNumber
          formControlName="ci"
          [ngClass]="{
          'ng-dirty':
          estudianteForm.get('ci')?.touched && estudianteForm.get('ci')?.errors?.['required']
        }"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
        >
        </p-inputNumber>
        <small
          class="p-error"
          *ngIf="estudianteForm.get('ci')?.touched && estudianteForm.get('ci')?.errors?.['required']"
          >Telefono is required.</small
        >
      </div>
      <div class="field">
        <label for="email">Correo</label>
        <input
          type="email"
          pInputText
          id="email"
          formControlName="email"
          autofocus
          [ngClass]="{'ng-dirty':estudianteForm.get('email')?.touched && estudianteForm.get('email')?.errors?.['required']}"
        />
        <small
          class="p-error"
          *ngIf="estudianteForm.get('email')?.touched && estudianteForm.get('email')?.errors?.['required']"
          >Correo is required.</small
        >
        <small
          class="p-error"
          *ngIf="estudianteForm.get('email')?.touched && estudianteForm.get('email')?.errors?.['email']"
          >Llene el campo con un correo valido.</small
        >
      </div>
      <div class="field">
        <label for="telefono">Telefono</label>
        <p-inputMask
          mask="99999999"
          id="telefono"
          formControlName="telefono"
          [ngClass]="{
            'ng-dirty':
            estudianteForm.get('telefono')?.touched && estudianteForm.get('telefono')?.errors?.['required']
          }"
        ></p-inputMask>
        <small
          class="p-error"
          *ngIf="estudianteForm.get('telefono')?.touched && estudianteForm.get('telefono')?.errors?.['required']"
          >Telefono is required.</small
        >
      </div>
      <div class="field">
        <label for="direccion">Direccion</label>
        <input
          type="text"
          pInputText
          id="direccion"
          formControlName="direccion"
          autofocus
          [ngClass]="{'ng-dirty':estudianteForm.get('direccion')?.touched && estudianteForm.get('direccion')?.errors?.['required']}"
        />
        <small
          class="p-error"
          *ngIf="estudianteForm.get('direccion')?.touched && estudianteForm.get('direccion')?.errors?.['required']"
          >Direccion is required.</small
        >
      </div>

      <div class="field">
        <label for="fnacimiento">Fecha de nacimiento</label>
        <p-inputMask
          mask="99/99/9999"
          slotChar="dd/mm /yyyy"
          id="fnacimiento"
          formControlName="fnacimiento"
          [ngClass]="{
            'ng-dirty':
            estudianteForm.get('fnacimiento')?.touched && estudianteForm.get('fnacimiento')?.errors?.['required']
          }"
        ></p-inputMask>
        <small
          class="p-error"
          *ngIf="estudianteForm.get('fnacimiento')?.touched && estudianteForm.get('fnacimiento')?.errors?.['required']"
          >Fecha de nacimiento is required.</small
        >
      </div>
      <div>{{ estudianteForm.getError | json }}</div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        *ngIf="!editarbutton"
        [disabled]="!estudianteForm.valid"
        type="submit"
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
      ></button>

      <div *ngIf="editarbutton">
        <button
          [disabled]="!estudianteForm.valid"
          pButton
          type="button"
          pRipple
          label="Editar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarEditarEstudiante()"
        ></button>
      </div>
    </ng-template>
  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<div
  class="card flex flex-column justify-content-start md:ml-8 m-4 scalein animation-ease-in-out animation-duration-500"
>
  <div
    class="flex align-content-center align-items-center justify-content-between mb-3 flex-column md:flex-row"
  >
    <h1>Gestion de <span class="text-primary">Estudiantes</span></h1>
    <div class="flex flex-row grid">
      <div class="col hidden md:inline-flex">
        <p-button
          icon="pi pi-filter"
          label="Filtros"
          styleClass="p-button-secondary "
          (click)="mostrarfiltros()"
          pTooltip="Visiviliza filtros de datos"
          tooltipPosition="bottom"
        ></p-button>
      </div>
      <div class="col">
        <p-button
          icon="pi pi-plus"
          label="Nuevo"
          styleClass="p-button-success"
          pTooltip="Crea un nuevo estudiante"
          tooltipPosition="bottom"
          (click)="crearnuevo()"
        ></p-button>
      </div>
      <div class="col">
        <p-button
          icon="pi pi-trash"
          label="Eliminar"
          styleClass="p-button-danger"
          (click)="deleteSelectedEstudiante()"
          [disabled]="!selectedEstudiantes || !selectedEstudiantes.length"
          pTooltip="Elimina estudiante selecionado"
          tooltipPosition="bottom"
        ></p-button>
      </div>
    </div>
  </div>
  <p-table
    #dt1
    [value]="estudiantes"
    [(selection)]="selectedEstudiantes"
    dataKey="id"
    [tableStyle]="{ 'min-width': '18rem' }"
    [rows]="row"
    [paginator]="true"
    responsiveLayout="stack"
    [breakpoint]="'900px'"
    [scrollable]="false"
    [styleClass]="'p-datatable-sm'"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros."
    [rowsPerPageOptions]="[row, 25, 50]"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" pFrozenColumn>
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
        </th>
        <th pSortableColumn="iduser.username" pFrozenColumn>
          Nombre Usuario<p-sortIcon field="iduser.username"></p-sortIcon>
        </th>
        <th pSortableColumn="iduser.nombres">
          Nombres<p-sortIcon field="iduser.nombres"></p-sortIcon>
        </th>
        <th pSortableColumn="iduser.apellidoPaterno">
          Apellido Paterno
          <p-sortIcon field="iduser.apellidoPaterno"></p-sortIcon>
        </th>
        <th pSortableColumn="iduser.apellidoMaterno">
          Apellido Materno
          <p-sortIcon field="iduser.apellidoMaterno"></p-sortIcon>
        </th>
        <th pSortableColumn="iduser.ci">
          Carnet Identidad <p-sortIcon field="iduser.ci"></p-sortIcon>
        </th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Fecha de nacimiento</th>
        <th>Fecha de alta</th>
        <th>Acciones</th>
      </tr>
      <tr [hidden]="buttonfiltros">
        <th style="width: 4rem" pFrozenColumn></th>
        <th pFrozenColumn>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(getEventValue($event), 'iduser.username', 'contains')
            "
            [value]="$any(dt1.filters['iduser.username'])?.value"
            placeholder="Buscar por Username "
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(getEventValue($event), 'iduser.nombres', 'contains')
            "
            [value]="$any(dt1.filters['iduser.nombres'])?.value"
            placeholder="Buscar por nombre"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(
                getEventValue($event),
                'iduser.apellidoPaterno',
                'contains'
              )
            "
            [value]="$any(dt1.filters['iduser.apellidoPaterno'])?.value"
            placeholder="Buscar por apellido Paterno"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(
                getEventValue($event),
                'iduser.apellidoMaterno',
                'contains'
              )
            "
            [value]="$any(dt1.filters['iduser.apellidoMaterno'])?.value"
            placeholder="Buscar por apellido Materno"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt1.filter(getEventValue($event), 'iduser.ci', 'contains')"
            [value]="$any(dt1.filters['iduser.ci'])?.value"
            placeholder="Buscar por CI"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(getEventValue($event), 'iduser.email', 'contains')
            "
            [value]="$any(dt1.filters['iduser.email'])?.value"
            placeholder="Buscar por correo"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter(getEventValue($event), 'iduser.telefono', 'contains')
            "
            [value]="$any(dt1.filters['iduser.telefono'])?.value"
            placeholder="Buscar por CI"
            class="w-full"
          />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-estudiante>
      <tr>
        <td pFrozenColumn>
          <p-tableCheckbox [value]="estudiante"></p-tableCheckbox>
        </td>
        <td pFrozenColumn>
          <span class="p-column-title font-semibold">Nombre Usuario</span>
          {{ estudiante.iduser.username }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Nombres</span>
          {{ estudiante.iduser.nombres }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Ap. Paterno</span>
          {{ estudiante.iduser.apellidoPaterno }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Ap. Materno</span>
          {{ estudiante.iduser.apellidoMaterno }}
        </td>
        <td>
          <span class="p-column-title font-semibold">C.I.</span>
          {{ estudiante.iduser.ci }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Correo</span>
          {{ serpararcorreo(estudiante.iduser.email)[0] + "@" }}
          <br />
          {{ serpararcorreo(estudiante.iduser.email)[1] }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Telefono</span>
          {{ estudiante.iduser.telefono }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Direccion</span>
          {{ estudiante.iduser.direccion }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Fecha de nacimiento</span>
          {{ estudiante.iduser.fnacimiento | date }}
        </td>
        <td>
          <span class="p-column-title font-semibold">Fecha de Alta</span>
          {{ estudiante.iduser.createdAt | date }}
        </td>
        <td>
          <div class="flex gap-1">
            <p-button
              icon="pi pi-user-edit"
              styleClass="p-button-info h-2rem w-2rem p-button-rounded"
              (click)="editar(estudiante.iduser)"
              pTooltip="Edita al usuario selecionado"
              tooltipPosition="left"
            ></p-button>
            <p-button
              icon="pi pi-key"
              styleClass="p-button-warning h-2rem w-2rem p-button-rounded"
              (click)="resetPass()"
              pTooltip="Edita al usuario selecionado"
              tooltipPosition="left"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No hay estudiantes</td>
      </tr>
    </ng-template>
  </p-table>
</div>
