<p-card header="Modulo 1" subheader="subtitulo" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Invent</p>
    <ng-template pTemplate="footer">
        <p-button label="Ingresar" icon="pi pi-check"></p-button>
        <p-button label="Ayuda" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>