

<div class="m-3 card">
    <!-- <ul *ngFor="let item of competencias">
    <li> {{item.createdAt}}</li>
  </ul> -->
  <p-table
    [value]="competencias"
    [tableStyle]="{ 'min-width': '300px' }"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    styleClass="p-datatable-sm p-datatable-striped"
    [(selection)]="selectedComeptencia"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Competencias
        <div class="flex">
        <button
        pTooltip="Crea un nueva competencia"
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="nuevaCompentecia()"
        ></button>
        <button
        pButton
        pRipple
        icon="pi pi-trash"
        class="p-button-danger mx-3"
        (click)="deleteSelectedCompetencia()"
        [disabled]="!selectedComeptencia || !selectedComeptencia.length"
      ></button></div>
        
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Id</th>
        <th pSortableColumn="descripcion">
          Descripcion<p-sortIcon field="descripcion"></p-sortIcon>
        </th>
        <th pSortableColumn="tipoCompetencia">
          Tipo-Competencia<p-sortIcon field="tipoCompetencia"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">
          Fecha de creacion<p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competencia let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="competencia"></p-tableCheckbox>
        </td>
        <td>
          {{competencia.id}}
        </td>
        <td><span class="p-column-title">Nombre</span>{{ competencia.descripcion }}</td>
        <td>
          <span class="p-column-title">Tipo de Competencia</span> {{
            competencia.tipoCompetencia}}
        </td>
       
        <td>
          <span class="p-column-title">Fecha de creacion</span
          >{{ competencia.createdAt | date : "short" }}
        </td>
        <td class="flex align-content-center justify-content-center">
          <p-button
            styleClass="p-button-outlined p-button-info m-1 py-1 "
            icon="pi pi-pencil"
            (click)="editCompetencia(competencia)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<form (ngSubmit)="guardarCompetencia()" [formGroup]="formCompetencia">
  <p-dialog
    [(visible)]="competemciaDialog"
    [style]="{ width: '450px' }"
    [header]="tituloModal"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="nombre">Descipcion</label>

          <textarea
            id="float-input"
            rows="2"
            cols="30"
            formControlName="descripcion"
            pInputTextarea
            [autoResize]="true"
            [ngClass]="{'ng-dirty':formCompetencia.get('descripcion')?.touched && formCompetencia.get('descripcion')?.errors?.['required']}"
          ></textarea>

        <small
          class="p-error"
          *ngIf="formCompetencia.get('descripcion')?.touched && formCompetencia.get('descripcion')?.errors?.['required']"
          >Nombre is required.</small
        >
      </div>

      <div class="field">
        <label for="tipoCompetencia">Tipo Compentencia</label>
        <p-dropdown
          [options]="tipoCompetencia"
          formControlName="tipoCompetencia"
          optionLabel="nombre"
          optionValue="nombre"
          appendTo="body"
          placeholder="Select una opcion"
          [ngClass]="{'ng-dirty':formCompetencia.get('tipoCompetencia')?.touched && formCompetencia.get('tipoCompetencia')?.errors?.['required']}"
        ></p-dropdown>
        <small
          class="p-error"
          *ngIf="formCompetencia.get('tipoCompetencia')?.touched && formCompetencia.get('tipoCompetencia')?.errors?.['required']"
          >Docenteis required.</small
        >
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        *ngIf="!editar"
        [disabled]="!formCompetencia.valid"
        type="submit"
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
      ></button>

        <button
        *ngIf="editar"
          [disabled]="!formCompetencia.valid"
          pButton
          type="button"
          pRipple
          label="Editar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarEditarCompetencia()"
        ></button>

    </ng-template>
  </p-dialog>
</form>
<p-toast></p-toast>

<p-confirmDialog #cd [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h3>Eliminar</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      class="p-button-secondary"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Si"
      class="p-button-danger"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>