
<p-toast></p-toast>
<!-- <div class="flex flex-column card p-3 m-3 w-full md:w-5 ">
  <h1>Lorem ipsum dolor sitssssssssssssssssssssssss amet consectetur adipisicing elit. Non aperiam adipisci, laboriosam vero necessitatibus quos praesentium eos minus perferendis fugiat, molestiae nemo! Quidem non, voluptatibus velit consequuntur voluptates nisi cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia obcaecati, amet animi, aliquid sit dicta tempore similique molestiae ducimus eveniet voluptatibus velit minus! Fugiat nobis expedita maxime exercitationem sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolore, reprehenderit deleniti odio ea, molestiae laudantium a quos suscipit alias officia quis nostrum incidunt dolorum est. Asperiores accusamus consectetur quidem?</h1> </div> -->

<div
  class="flex align-items-center align-content-center justify-content-center m-3 max-w-screen scalein animation-duration-300"
>
  <div
    class="flex flex-column card shadow-2 border-round justify-content-around w-full md:w-5 overflow-auto"
  >
    <div class="flex flex-column zoom text-center mb-3">
      <!-- <img
        src="../../assets/images/Happy student-rafiki.png"
        alt="Image"
        height="200"
        class=""
      /> -->
      <object
        class="image_login"
        data="../../assets/images/happy-student-animate.svg"
        type=""
        height="200"
      ></object>
      <div class="text-900 text-3xl font-medium mb-1">Bienvenido</div>
      <!-- <span class="text-600 font-medium line-height-3"> ¿No tienes una cuenta?</span> -->
      <!-- <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Creala hoy!</a> -->
      <div class="mb-1">
        <h1 class="text-900 text-3xl font-bold">SISEIN</h1>
      </div>
      <div class="text-900 text-l font-normal mb-1">
        SISTEMA DE SEGUIMIENTO INDIVIDUAL
      </div>

      <span class="text-600 font-medium line-height-3"
        >No tienes una cuenta?
        <a
          href="https://forms.gle/URVZiPVBgjTsK5Ct7"
          target="_blank"
          class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
          >Solicita una Ahora!</a
        ></span
      >
    </div>

    <div class="flex flex-column align-content-between justify-content-between">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="p-2">
        <label for="email1" class="block text-900 font-medium mb-2"
          >Nombre de Usuario</label
        >
        <input
          id="username"
          type="text"
          placeholder="Nombre de usuario"
          pTooltip="PrimerNombre_CI"
          tooltipEvent="focus"
          tooltipPosition="top"
          pInputText
          class="w-full mb-3"
          formControlName="username"
          required
          [ngClass]="{'ng-dirty':loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']}"
          onkeypress="return event.charCode != 32"
        />
        <div
          *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required'] "
        >
          <!-- {{clearMessages()}} -->
          <p-messages
          [value]="messages_user"
            [closable]="true"
            [showTransitionOptions]="'50ms'"
            [hideTransitionOptions]="'500ms'"
          ></p-messages>
        </div>

        <label for="password1" class="block text-900 font-medium mb-2"
          >Contraseña</label
        >
        <input
          id="password"
          type="password"
          pTooltip="Numero de CI"
          tooltipEvent="focus"
          tooltipPosition="top"
          placeholder="Contraseña"
          pInputText
          class="w-full mb-3"
          formControlName="password"
          required
          [ngClass]="{'ng-dirty':loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']}"
          onkeypress="return event.charCode != 32"
        />
        <div
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
        >
          <p-messages
            [value]="messages_pass"
            [closable]="true"
            [showTransitionOptions]="'50ms'"
            [hideTransitionOptions]="'500ms'"
          ></p-messages>
        </div>
        <!-- <div class="flex align-items-center justify-content-between mb-6">
          <div class="flex align-items-center">
            <p-checkbox
              id="rememberme1"
              [binary]="true"
              styleClass="mr-2"
              formControlName="remember"
            ></p-checkbox>
            <label for="rememberme1" class="text-900">Recuerdame</label>
          </div>
          <a
            class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
            >¿Olvidaste tu contraseña?</a
          >
        </div> -->
        <button
          pButton
          pRipple
          type="submit"
          label="Ingresar"
          icon="pi pi-user"
          class="w-full"
        ></button>
      </form>
    </div>
  </div>
</div>

<div class="btn-ayuda cursor-pointer" (click)="visible =true">
  <span class="p-3 shadow-2 inline-block surface-card flex flex-column align-items-center m-5" style="border-radius: 10px">
    <i class="pi pi-question-circle text-4xl text-blue-500"></i>
    <div class="text-primary text-xl font-medium hidden md:block">Ayuda</div>
</span>
</div>

<p-dialog header="Ayuda" [(visible)]="visible" [style]="{width: '300px'}">
  <h2 class="text-primary text-center">Manuales de usuario</h2>
  <div class="flex flex-row justify-content-between mt-5">
    <p-button label="Estudiante" icon="pi pi-file-pdf" iconPos="top" onclick="window.open('https://drive.google.com/file/d/1Zvu5ht2q_dU1jHkzPyHPega8bxyjVdkb/view?usp=sharing')"></p-button>
    <p-button label="Docente" icon="pi pi-file-pdf" iconPos="top" onclick="window.open('https://drive.google.com/file/d/1eQeHzLTrvTcmJjD_8d2rVlCLJO6fZX6N/view?usp=sharing')"></p-button>
  </div>
</p-dialog>