<div
  class="card md:ml-8 m-4 scalein animation-ease-in-out animation-duration-500 shadow-8"
>
  <h2 class="text-primary">{{ tituloAsignatura }}</h2>
  <h1>Lista Estudiantes</h1>
  <!-- <ul *ngFor="let item of datosAsignatura">
        <li> {{item.nombre}}</li>
      </ul> -->

  <div class="flex flex-row md:flex-row m-2">
    <p-button
      label="Administrar Parciales"
      class="flex my-2 px-2"
      (click)="showParcialesDialog()"
      styleClass="p-button-sm p-button-rounded"
    ></p-button>
    <p-button
      label="Administrar Practicas"
      class="flex my-2 md:mx-2"
      (click)="showPracticasDialog()"
      styleClass="p-button-sm p-button-rounded"
    ></p-button>
  </div>
  <p-table
    #dt1
    [value]="estudiantes"
    responsiveLayout="stack"
    [breakpoint]="'767px'"
    [tableStyle]="{ 'min-width': '10rem' }"
    [globalFilterFields]="[
      'estudiante.iduser.ci',
      'estudiante.iduser.nombres',
      'estudiante.iduser.apellidoPaterno',
      'estudiante.iduser.apellidoMaterno'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          label=""
          class="p-button-help"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="datoFiltro"
            (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Nombre Completo</th>
        <th>CI</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato let-columns="columns">
      <tr>
        <td class="font-semibold">
          <span class="p-column-title font-normal">Nombre </span
          >{{ getnombrecompleto(dato.estudiante) }}
        </td>
        <td class="font-semibold">
          <span class="p-column-title font-normal">CI</span
          >{{ dato.estudiante.iduser.ci }}
        </td>
        <td
          class="flex flex align-content-center justify-content-between md:justify-content-end"
        >
          <span class="flex align-items-center mx-1">
            <p-button
              label="Calificar"
              styleClass="p-button-sm p-button-rounded p-button-warning"
              (onClick)="showCalificarDialog(dato.estudiante.id)"
            ></p-button>
          </span>
          <span class="flex align-items-center">
            <p-button
              label="Dar Competencia"
              (click)="showCompetenciaDialog(dato.estudiante)"
              styleClass="p-button-sm shadow-2 p-button-rounded p-button-success"
            ></p-button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-scrollTop
    target="parent"
    class="z-5"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
</div>
<p-dialog
  header="Header"
  [(visible)]="dialogCompetencia"
  [style]="{ width: '90vw' }"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Asignar Competencias</span>
  </ng-template>

  <!-- {{competenciaAsignatura|json}} -->
  <div class="m-3">
    <p-pickList
      class="z-100 relative"
      [source]="competenciaAsignatura"
      [target]="competenciaEstudiante"
      sourceHeader="Todas"
      targetHeader="Selecionada"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: '30rem' }"
      [targetStyle]="{ height: '30rem', color: 'red' }"
      breakpoint="500px"
      filterBy="descripcion"
      sourceFilterPlaceholder="Buscar por nombre"
      targetFilterPlaceholder="Buscar por nombre"
    >
      <ng-template let-competencia pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-light">{{
              competencia.competencia.descripcion
            }}</span>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-flag text-sm"></i>
              <span>{{ competencia.competencia.tipoCompetencia }}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="guardarComptencias()"
      label="Guardar"
      styleClass="p-button-rounded p-button-success"
      
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="cerrardialogCompetencias()"
      label="Cerrar"
      styleClass="p-button-rounded p-button-secondary"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="dialogPractica"
  [style]="{ width: '90vw', height: '80vh' }"
  [modal]="true"
  position="top"
  [breakpoints]="{ '960px': '90vw' }"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Administrar Practicas</span>
  </ng-template>
  
  <h3>Crear una nueva <span class="text-primary">Practica</span></h3>
  <form [formGroup]="formCalificacionPractica">
    <div class="flex flex-column sm:flex-row p-5 gap-3">
      <div
        class="flex flex-column align-items-center justify-content-start"
      >
        <span class="p-float-label">
          <input
            pInputText
            formControlName="descripcion"
            class="p-inputtext-sm"
            [ngClass]="{'ng-dirty':formCalificacionPractica.controls.descripcion.touched && formCalificacionPractica.get('descripcion')?.errors?.['required']}"
          />
          <label htmlFor="username">Descripcion</label>
        </span>
        <small
          class="p-error"
          *ngIf="formCalificacionPractica.controls.descripcion.touched && formCalificacionPractica.get('descripcion')?.errors?.['required']"
          >Descripcion es necesario</small
        >
      </div>
      <div
        class="flex flex-column align-items-center justify-content-start"
      >
        <span class="p-float-label">
          <p-inputNumber
            formControlName="puntaje"
            mode="decimal"
            inputId="withoutgrouping"
            class="p-inputtext-sm"
            [useGrouping]="false"
            [ngClass]="{'ng-dirty':formCalificacionPractica.controls.puntaje.touched && formCalificacionPractica.get('puntaje')?.errors?.['required']}"
          >
          </p-inputNumber>
          <label htmlFor="username">Puntaje</label>
        </span>
        <small
          class="p-error"
          *ngIf="formCalificacionPractica.controls.puntaje.touched && formCalificacionPractica.get('puntaje')?.errors?.['required']"
          >Puntaje es necesario</small
        >
        <small
          class="p-error"
          *ngIf="
            formCalificacionPractica.controls.puntaje.touched &&
            !formCalificacionPractica.controls.puntaje.valid
          "
          ><p>
            El valor maximo que puede tener <br />
            este campo es : {{ 35 - sumaPracticas }}
          </p></small
        >
      </div>
      <div class="flex flex-column align-items-end justify-content-start">
        <p-button
          label="Crear"
          icon="pi pi-check"
          iconPos="right"
          [disabled]="!formCalificacionPractica.valid"
          (onClick)="guardarPracticas()"
          styleClass="p-button-rounded p-button-success"
        ></p-button>
      </div>
    </div>
  </form>
  <h3 class="mb-3">Lista de Practicas</h3>
  <p-table
    [value]="listaCalificaciones"
    [tableStyle]="{ 'min-width': '50rem' }"
    responsiveLayout="stack"
    [breakpoint]="'768px'"
    [tableStyle]="{ 'min-width': '16rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Puntaje</th>
        <th>Tipo de Calificacion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-calificacion>
      <tr>
        <td class="sm:hidden hidden md:block"> {{ calificacion.id }}</td>
        <td> <span class="p-column-title font-bold">Descripcion</span>{{ calificacion.descripcion }}</td>
        <td> <span class="p-column-title font-bold">Puntaje</span>{{ calificacion.puntaje }}</td>
        <td class="sm:hidden hidden md:block">{{ calificacion.tipoCalificacion }}</td>
      </tr>
    </ng-template>
  </p-table>
  <!-- {{ formCalificacionPractica.valid }} -->
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="dialogPractica = false"
      label="Cerrar"
      styleClass="p-button-rounded p-button-secondary"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="dialogParcial"
  [style]="{ width: '90vw', height: '80vh' }"
  [modal]="true"
  position="top"
  [breakpoints]="{ '960px': '90vw' }"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Administrar Parciales</span>
  </ng-template>

  <h3 class="mt-3">Crear un nuevo <span class="text-primary">Parcial</span></h3>
  
  <form [formGroup]="formCalificacionParciales">
    <div class="flex flex-column sm:flex-row p-5 gap-3">
      <div
        class="flex flex-column align-items-center justify-content-start"
      >
        <span class="p-float-label">
          <input
            pInputText
            formControlName="descripcion"
            class="p-inputtext-sm"
            [ngClass]="{'ng-dirty':formCalificacionParciales.controls.descripcion.touched && formCalificacionParciales.get('descripcion')?.errors?.['required']}"
          />
          <label htmlFor="username">Descripcion</label>
        </span>
        <small
          class="p-error"
          *ngIf="formCalificacionParciales.controls.descripcion.touched && formCalificacionParciales.get('descripcion')?.errors?.['required']"
          >Descripcion es necesario</small
        >
      </div>
      <div
        class="flex flex-column align-items-center justify-content-start"
      >
        <span class="p-float-label">
          <p-inputNumber
            formControlName="puntaje"
            mode="decimal"
            inputId="withoutgrouping"
            class="p-inputtext-sm"
            [useGrouping]="false"
            [ngClass]="{'ng-dirty':formCalificacionParciales.controls.puntaje.touched && formCalificacionParciales.get('puntaje')?.errors?.['required']}"
          >
          </p-inputNumber>
          <label htmlFor="username">Puntaje</label>
        </span>
        <small
          class="p-error"
          *ngIf="formCalificacionParciales.controls.puntaje.touched && formCalificacionParciales.get('puntaje')?.errors?.['required']"
          >Puntaje es necesario</small
        >
        <p>{{formCalificacionParciales.controls.puntaje.valid }}</p>
        <!-- <p-tag value="New"></p-tag> -->
        <small
          class="p-error"
          *ngIf="
            !formCalificacionParciales.controls.puntaje.valid
          "
          ><p>
            El valor maximo que puede tener <br />
            este campo es : {{ 35 - sumaParciales }}
          </p></small
        >
      </div>
      <div class="flex flex-column align-items-end justify-content-start">
        <p-button
          label="Crear"
          icon="pi pi-pencil"
          iconPos="right"
          [disabled]="!formCalificacionParciales.valid"
          (onClick)="guardarParciales()"
          styleClass="p-button-rounded p-button-success"
        ></p-button>
      </div>
    </div>
  </form>
  <!-- {{ formCalificacionParciales.valid }} -->
  <h3 class="mb-3">Lista de calificaciones</h3>
  <p-table
    [value]="listaCalificacionesParciales"
    responsiveLayout="stack"
    [breakpoint]="'768px'"
    [tableStyle]="{ 'min-width': '16rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Puntaje</th>
        <th>Tipo de Calificacion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-calificacion>
      <tr>
        <td class="sm:hidden hidden md:block">{{ calificacion.id }}</td>
        <td>
          <span class="p-column-title font-bold">Descripcion</span>
          {{ calificacion.descripcion }}
        </td>
        <td>
          <span class="p-column-title font-bold">Puntaje</span>{{ calificacion.puntaje }}
        </td>
        <td class="sm:hidden hidden md:block">
          {{ calificacion.tipoCalificacion }}
        </td>
      </tr>
      <tr class="md:hidden">
        <td></td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="dialogParcial = false"
      label="Cerrar"
      styleClass="p-button-rounded p-button-secondary"
      
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="dialogCalificar"
  [style]="{ width: '90vw', height: '80vh' }"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Calificar Estudiante</span>
  </ng-template>
  <p-table
    [value]="calificacionestudiante"
    [tableStyle]="{ 'min-width': '15rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>descripcion</th>
        <th>Calificacion</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-calificacion>
      <tr>
        <td>{{ calificacion.id }}</td>
        <td>{{ calificacion.calificacion.descripcion }}</td>
        <td>
          {{
            calificacion.calificacionObtenida +
              "/" +
              calificacion.calificacion.puntaje
          }}
        </td>
        <td>
          <p-button
            styleClass="p-button-rounded p-button-info m-1 py-1 "
            icon="pi pi-pencil"
            (click)="calificando(calificacion)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="dialogCalificar = false"
      label="Ok"
      styleClass="p-button-rounded p-button-secondary"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Calificando estudiante"
  [(visible)]="dialogCalificando"
  [style]="{ width: '40vw' }"
  [breakpoints]="{ '960px': '75vw' }"
  [modal]="true"
>
  <div class="flex flex-row flex-wrap card-container blue-container">
    <!-- {{ calificado.valid }} -->
    <div class="flex align-items-center justify-content-center m-2">
      <p-inputNumber
        [formControl]="calificado"
        mode="decimal"
        inputId="withoutgrouping"
        [useGrouping]="false"
        placeholder="Introduca la calificacion"
      >
      </p-inputNumber>
    </div>
    <div class="flex align-items-center justify-content-center m-2">
      <div class="mx-2">
        <p-button
          [disabled]="!calificado.valid"
          label="Guardar"
          icon="pi pi-check"
          styleClass="p-button-rounded p-button-success"
          (onClick)="calificadoSubmit()"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>
