<div
  class="card flex flex-column justify-content-start md:ml-8 m-4 scalein animation-ease-in-out animation-duration-500 shadow-8"
>
  <p-table
    #dt2
    [value]="datos.datos"
    dataKey="id"
    [showCurrentPageReport]="true"
    [globalFilterFields]="[
      'estudiante.id',
      'estudiante.iduser.nombres',
      'estudiante.iduser.apellidoPaterno',
      'estudiante.iduser.apellidoPaterno',
      'estudiante.iduser.ci',
      'estudiante.iduser.ci',
      'competencia.asignatura.nombre',
      'competencia.asignatura.siglaCodigo',
      'competencia.asignatura.docente.iduser.apellidoPaterno'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    rowGroupMode="subheader"
    groupRowsBy="estudiante.iduser.nombres"
    [scrollable]="true"
    scrollHeight="90vh"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex md:flex-row flex-column align-items-center justify-content-between"
      >
        <div>
          <h1>
            Seguimiento de
            <span class="text-primary">Competencias de estudiantes</span>
          </h1>
        </div>
        <div class="flex p-input-icon-left md:ml-auto my-1">
          <i class="pi pi-search"></i>
          <input
            class="w-12 md:w-full"
            pInputText
            type="text"
            [(ngModel)]="datoFiltro"
            (input)="dt2.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Buscar"
            pTooltip="Filtra los datos"
          />
        </div>

        <div class="flex">
          <div class="hidden md:inline-flex pl-2">
            <p-button
              icon="pi pi-file-pdf"
              styleClass="p-button-help"
              pTooltip="Descarga reporte PDF"
              tooltipPosition="bottom"
              (click)="generarPdf(dt2)"
              label="Reporte"
            ></p-button>
          </div>
          <!-- <button
          pTooltip="Crea un nueva competencia"
          pButton
          pRipple
          label="Graficos"
          icon="pi pi-chart-pie"
          class="p-button-help mx-2"
          (click)="modalGraficos()"
        ></button> -->
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th style="width: 5%">Nombre</th>
        <th style="width: 5%">Apellido Paterno</th>
        <th style="width: 5%">Apellido Materno</th>
        <th style="width: 15%">Carnet Identidad</th>
        <th style="width: 25%">Competencia</th>
        <th>Tipo de <br />Competencia</th>
        <th style="width: 15%">Asignatura</th>
        <th style="width: 15%">Docente</th>
        <th style="width: 15%">Fecha</th>

        <th>Acciones</th>
      </tr>
      <tr>
        <th>
          <!-- <p-columnFilter type="text" field="estudiante.id"></p-columnFilter> -->
        </th>
        <th colspan="3">
          <p-columnFilter field="estudiante" matchMode="in" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="datos.estudiante"
                placeholder="Buscar"
                (onChange)="filter($event.value)"
                optionLabel="iduser.nombres,iduser.apellidoPaterno,iduser.apellidoMaterno"
                [resetFilterOnHide]="true"
                appendTo="body"
                display="chip"
              >
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{
                      option.iduser.nombres +
                        " " +
                        option.iduser.apellidoPaterno +
                        " " +
                        option.iduser.apellidoMaterno
                    }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="estudiante.iduser.ci"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="competencia.competencia"
            matchMode="in"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="datos.competencia"
                placeholder="Buscar"
                (onChange)="filter($event.value)"
                optionLabel="descripcion"
                [resetFilterOnHide]="true"
                appendTo="body"
                display="chip"
              >
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle w-2rem">
                    <span class="ml-1 mt-1">{{
                      option.descripcion.substr(0, 38) + "..."
                    }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>

        <th></th>
        <th>
          <p-columnFilter
            type="text"
            field="competencia.asignatura.nombre"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="competencia.asignatura.docente.iduser.apellidoPaterno"
          ></p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-customer>
      <tr pRowGroupHeader>
        <td colspan="10">
          <span class="font-bold ml-2">{{
            customer.estudiante.iduser.nombres +
              " " +
              customer.estudiante.iduser.apellidoPaterno +
              " " +
              customer.estudiante.iduser.apellidoMaterno
          }}</span>
        </td>
        <td>
          <p-button
            styleClass="p-button p-button-info m-1 py-1 "
            icon="pi pi-chart-bar"
            (click)="modalGraficos(customer)"
            label="Verificacion"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td class="text-center">{{ customer.id }}</td>
        <td class="text-center">{{ customer.estudiante.iduser.nombres }}</td>
        <td class="text-center">
          {{ customer.estudiante.iduser.apellidoPaterno }}
        </td>
        <td class="text-center">
          {{ customer.estudiante.iduser.apellidoMaterno }}
        </td>
        <td class="text-center">{{ customer.estudiante.iduser.ci }}</td>
        <td class="text-sm">
          {{ customer.competencia.competencia.descripcion }}
        </td>
        <td>{{ customer.competencia.competencia.tipoCompetencia }}</td>
        <td>
          {{
            customer.competencia.asignatura.nombre +
              "-" +
              customer.competencia.asignatura.paralelo +
              "-" +
              customer.competencia.asignatura.siglaCodigo
          }}
        </td>
        <td>
          {{
            customer.competencia.asignatura.docente.iduser.nombres +
              " " +
              customer.competencia.asignatura.docente.iduser.apellidoPaterno +
              " " +
              customer.competencia.asignatura.docente.iduser.apellidoMaterno
          }}
        </td>

        <td>{{ customer.createdAt | date }}</td>
        <td>
          <!-- <p-button
            styleClass="p-button-outlined p-button-danger m-1 py-1 "
            icon="pi pi-trash"
            (click)="detalle_estudiante()"
          ></p-button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11">No hay datos coincidentes.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Header"
  [(visible)]="dialogGraficos"
  [style]="{ width: '90vw' }"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <!-- <span class="text-xl font-bold">Verificación de perfil profesional por competencias</span> -->
    <h1>
      Verficacion de Perfil Profesional
      <span class="text-primary">{{ nombre(datosEstudiante) }}</span>
    </h1>
  </ng-template>
  <button
    pTooltip="Crea un nueva competencia"
    pButton
    pRipple
    label="Grafico General"
    icon="pi pi-chart-pie"
    class="p-button-help mx-2"
    (click)="graficototal()"
  ></button>
  <!-- <div *ngFor="let item of competenciasOBtenidas">
    <div class="flex cardasig">{{item|json}}</div>
  </div> -->
  <ul>
    <li
      class="card2 shadow-5 m-4 font-bold"
      *ngFor="let item of competenciasOBtenidas; index as i"
    >
      <p-table
        [value]="item.asignatura.asignaturaCompetencia"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-sm"
        [scrollable]="true"
        scrollHeight="350px"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex md:flex-row flex-column align-items-center justify-content-between"
          >
            <div>
              <h1>
                Competencias de
                <span class="text-primary">{{ item.asignatura.nombre }} </span>
              </h1>
            </div>
            <button
              pTooltip="Crea un nueva competencia"
              pButton
              pRipple
              label="Grafico"
              icon="pi pi-chart-pie"
              class="p-button-help mx-2"
              (click)="
                modalGraf(
                  conteo(i),
                  item.asignatura.asignaturaCompetencia.length,
                  item.asignatura
                )
              "
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th style="width: 65%">Descripcion</th>
            <th>Tipo</th>
            <th pSortableColumn="obtenido">
              Estado<p-sortIcon field="obtenido"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.asignaturaCompetenciaId }}</td>
            <td>{{ product.competencia.descripcion }}</td>
            <td>{{ product.competencia.tipoCompetencia }}</td>
            <td>
              <p-tag
                [value]="estado(product.obtenido).message"
                [severity]="estado(product.obtenido).severity"
              ></p-tag>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div
            class="flex flex-column align-items-end justify-content-end pr-7"
          >
            <div>
              Competencias en total:
              {{
                item.asignatura.asignaturaCompetencia
                  ? item.asignatura.asignaturaCompetencia.length
                  : 0
              }}
            </div>
            <div>
              {{ " Competencias obtenidas: " + conteo(i) }}
            </div>
            <div>
              {{
                " Competencias no obtenidas: " +
                  conteo2(i, item.asignatura.asignaturaCompetencia.length)
              }}
            </div>
          </div>
        </ng-template>
      </p-table>
    </li>
  </ul>

  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="dialogGraficos = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>
<p-dialog
  [(visible)]="graficodialog"
  [style]="{ width: '45vw' }"
  [modal]="true"
  [header]="titulo(datosEstudiante)"
>
  <div>
    <div class="grafico">
      <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</p-dialog>
