<div class="scalein animation-ease-in-out animation-duration-500 card md:ml-8 m-4 surface-section  m-2 border-round-md  px-3 py-3 md:px-6 md:py-5 lg:px-8 shadow-8">
  <div class="mb-6 text-center">
    <h1>Asignaturas en Curso</h1>
  </div>
  <div  class="grid text-center">
    <div  *ngFor="let item of materias" class="col-6 md:col-3 mb-4 px-3" >
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card cursor-pointer"
        style="border-radius: 10px"
        routerLink="/detalle-asignatura" [queryParams]="{id: item.id }"
      >
        <i class="pi pi-folder text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-2 font-medium"> {{item.nombre}} </div>
    </div>
  </div>
</div>
