/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    /* overflow: auto; */
    scrollbar-width: none;
    /* font-size: 10px; */
}

*::-webkit-scrollbar {
    display: none;
  }
  /* html{
    font-size: 14px;
  } */
body{
    font-family: var(--font-family);
    
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #eff3f8;
}


.p-picklist-source-controls{
    position: fixed;
   visibility: hidden;
}
.p-picklist-target-controls{
 visibility: hidden;
 position: fixed;
}



.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    height: 90vh;
    
}
.card2{
  background: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

body {
	/* background: linear-gradient(-45deg, #52c2ee, #accfe8, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
    background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(97, 186, 255, 1) 0%,
    rgba(166, 239, 253, 1) 90.1%
  );
	height: 100vh;
    overflow: hidden;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.p-datatable .p-datatable-header {
    background-color: white !important;
    border: none !important;
    padding: 1rem 0 !important;
}

/* .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td{
    padding: 0 !important;
    margin: 0 !important;
} */
@media (min-width: 820px) and (max-width: 1366px) {
    html {
      font-size: 14px;
    }
  }
.tracking-in-expand{animation:tracking-in-expand 0.4s linear both} @keyframes tracking-in-expand{0%{letter-spacing:-.2em;opacity:0}40%{opacity:.6}100%{opacity:1}}
.tracking-in-contract{animation:tracking-in-contract 0.4s linear both} @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}