/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400

 
}

body{
    
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #eff3f8;
}
body .ui-fluid ui-button.ui-button-icon-only,
body .ui-button.ui-button-icon-only {
    width: 2.385em;
}
main{
    padding: 20px;
}

header{
    margin-left: -20px;
    width: 100%;
    height: 70px;
    background: #afb1bb;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}


.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: hidden;
    
}
.card2{
    border-radius: 10px;
}


.zoom {
    transition: transform .2s; /* Animation */
  }

.zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }