<!-- <div>
    <app-menu></app-menu>
</div> -->
<div>
  <p-dialog
    header="Header"
    [(visible)]="perfilModal"
    [style]="{ width: '90vw' }"
    [draggable]="true"
    position="top"
    [modal]="true"
    [resizable]="false"
    [maximizable]="true"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Perfil usuario</span>
    </ng-template>
    <div class="surface-section tracking-in-expand">
      <div class="font-medium text-3xl text-900 mb-3">
        {{
          getdatostoken().nombres +
            " " +
            getdatostoken().apellidoPaterno +
            " " +
            getdatostoken().apellidoMaterno
        }}
      </div>
      <!-- <div class="text-500 mb-5">Morbi tristique blandit turpis. In viverra ligula id nulla hendrerit rutrum.</div> -->
      <ul class="list-none p-0 m-0">
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-6 md:w-2 font-medium">Nombre Usuario</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ this.user.username }}
          </div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <!-- <button
              pButton
              pRipple
              label="Edit"
              icon="pi pi-pencil"
              class="p-button-text"
            ></button> -->
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-6 md:w-2 font-medium">Carnet de Identidad</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ this.user.ci }}
          </div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <!-- <button
              pButton
              pRipple
              label="Edit"
              icon="pi pi-pencil"
              class="p-button-text"
            ></button> -->
          </div>
        </li>

        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-6 md:w-2 font-medium">
            Rol de <br />
            Usuario
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ this.user.rol | titlecase }}
          </div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <!-- <button
              pButton
              pRipple
              label="Edit"
              icon="pi pi-pencil"
              class="p-button-text"
            ></button> -->
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap"
        >
          <div class="text-500 w-6 md:w-2 font-medium">Asinaturas en curso</div>
          <div
            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3"
          >
            <ul class="list-none p-0 m-0">
              <li *ngFor="let item of materiasUser">{{ item | json }}</li>
            </ul>
            <!-- {{materiasUser|json}} -->
          </div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <button
              pButton
              pRipple
              label="Ver"
              icon="pi pi-file-edit"
              class="p-button-text"
            ></button>
          </div>
        </li>
      </ul>
    </div>
    <ng-template pTemplate="footer">
      <div
        class="flex justify-content-between flex-wrap card-container purple-container"
      >
        <p-button
          icon="pi pi-key"
          (click)="changepasswordModal = true"
          label="Cambiar contraseña"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-check"
          (click)="perfilModal = false"
          label="Ok"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </ng-template>
  </p-dialog>
</div>

<div>
  <app-menu-lateral
    (newItemEvent)="nuevo($event)"
    [ngClass]="{ hidden: menuLateral }"
  ></app-menu-lateral>
</div>
<div class="flex flex-column tracking-in-expand">
  <div class="fondo1">
    <div class="flex justify-content-between flex-wrap text-xl p-4">
      <div class="flex align-items-center m-2">
        <i
          class="pi pi-bars text-xl button-menu cursor-pointer text-blue-50"
          (click)="clickMenu()"
        ></i>
      </div>
      <div class="flex align-items-center font-bold text-xl text-blue-50">
        <span class="">{{ this.saludo }} </span>

        <span class="pl-1 text-primary">{{ this.nombreusuario }}</span>
      </div>
      <div class="flex align-items-center m-2">
        <i
          class="pi pi-user text-xl cursor-pointer text-blue-50"
          (click)="showModalPerfil()"
        ></i>
      </div>
    </div>
    <div class="flex">
      <div class="col-6 px-3 md:text-center">
        <h2 class="text-0">Feliz dia!</h2>
        <h3 class="text-900">Revisa tu progreso academico</h3>
      </div>
      <div class="col-6">
        <object
          class="fondo2"
          data="../../assets/images/doctor-animate.svg"
          type=""
        ></object>
      </div>
    </div>
  </div>

  <div class="surface-section px-3 py-3 md:px-6 md:py-5 lg:px-8 fondo3">
    <div
      class="grid text-center scalein animation-ease-in-out animation-duration-500"
    >
      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        *ngIf="roluser == 'estudiante'"
        (click)="cargarCalificaciones()"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-check-circle text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-2 font-medium">Calificaciones</div>
        <span class="text-700 line-height-"
          >Mira tus calificaciones obteniadas</span
        >
      </div>

      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        (click)="showCompentecias()"
        *ngIf="roluser == 'estudiante'"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-thumbs-up text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Competencias</div>
        <span class="text-700 line-height-3"
          >Mira tus competencias adquiridas</span
        >
      </div>
      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        routerLink="/horario"
        *ngIf="roluser == 'estudiante' || roluser == 'docente'"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-calendar text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Horario</div>
        <span class="text-700 line-height-3">Mira tus materias y horario</span>
      </div>
      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        *ngIf="roluser == 'estudiante'"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-users text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Docentes</div>
        <span class="text-700 line-height-3">Añadir descripcion</span>
      </div>
      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        routerLink="/asignatura-docentes"
        [queryParams]="{ id: iduser }"
        *ngIf="roluser == 'docente'"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-users text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Asignaturas</div>
        <span class="text-700 line-height-3"
          >Vea y califique sus asignaturas</span
        >
      </div>
      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        routerLink="/admin"
        *ngIf="roluser == 'admin'"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-users text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Admin</div>
        <span class="text-700 line-height-3">Administracion de datos</span>
      </div>
      <!-- <div
      class="col-6 md:col-3 mb-4 px-3"
      *ngIf="roluser == 'estudiante'"

    >
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-check-circle text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-2 font-medium">Reportes Estudiante</div>
      <span class="text-700 line-height-">Descargar tus reportes</span>
    </div> -->
      <div
        class="col-6 md:col-3 mb-4 px-3"
        *ngIf="roluser == 'docente'"
        (click)="modalReportes = true"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-check-circle text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-2 font-medium">Generar reportes</div>
        <span class="text-700 line-height-">Descargar tus reportes</span>
      </div>

      <div
        class="col-6 md:col-3 mb-4 px-3 cursor-pointer"
        (click)="cerrarSesion()"
      >
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-sign-out text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-2 font-medium">Salir</div>
        <span class="text-700 line-height-">Cerrar Sesion</span>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Header"
  [(visible)]="modalAsignatura"
  [style]="{ width: '80vw' }"
  [maximizable]="true"
  position="top"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Calificaciones</span>
  </ng-template>
  <p-table
    #dt1
    [value]="calificacionesEstudiante"
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="[
      'calificacion.asignatura.nombre',
      'calificacion.descripcion'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Buscar"
          />
        </span>

        <button
          pButton
          label="Limpiar"
          class="p-button-outlined ml-auto"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="calificacion.asignatura.nombre" style="width: 20%">
          Asignatura
          <p-sortIcon field="calificacion.asignatura.nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="calificacion.descripcion" style="width: 20%">
          Descripcion <p-sortIcon field="calificacion.descripcion"></p-sortIcon>
        </th>
        <th style="width: 20%">Calificacion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.calificacion.asignatura.nombre }}</td>
        <td>{{ product.calificacion.descripcion }}</td>
        <td>
          {{
            product.calificacionObtenida + "/" + product.calificacion.puntaje
          }}
        </td>
      </tr></ng-template
    >
  </p-table>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="modalAsignatura = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="modalCompetencias"
  [style]="{ width: '80vw' }"
  [maximizable]="true"
  position="top"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Competencias Adquiridas</span>
    <!-- <p> {{dataCompetencias|json}} </p> -->
  </ng-template>
  <p-table
    #dtCom
    [value]="dataCompetencias"
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="['asi_nombre', 'c_descripcion']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dtCom.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Buscar"
          />
        </span>

        <button
          pButton
          label="Limpiar"
          class="p-button-outlined ml-auto"
          icon="pi pi-filter-slash"
          (click)="clear(dtCom)"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="asi_nombre" style="width: 20%">
          Asignatura
          <p-sortIcon field="asi_nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="c_descripcion" style="width: 20%">
          Competencia<p-sortIcon field="c_descripcion"></p-sortIcon>
        </th>
        <th style="width: 20%">Tipo Competencia</th>
        <th style="width: 20%">Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.asi_nombre }}</td>
        <td>{{ product.asicom_descripcion }}</td>
        <td>{{ product.asicom_tipoCompetencia }}</td>
        <td><p-tag severity="success" value="Adquirida"></p-tag></td>
        <!-- <td>{{ product.calificacion.descripcion }}</td> -->
        <!-- <td>
          {{
            product.calificacionObtenida + "/" + product.calificacion.puntaje
          }}
        </td> -->
      </tr></ng-template
    >
  </p-table>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="modalCompetencias = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Reportes"
  [(visible)]="modalReportes"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-reportes></app-reportes>
</p-dialog>
<!-- <app-reportes></app-reportes> -->

<p-dialog
  header="Header"
  [(visible)]="changepasswordModal"
  [style]="{ width: '40vw' }"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="header"> </ng-template>
  <div class="flex flex-column">
    <h4 class="p-3">Antigua Contraseña</h4>
    <input class="p-3" type="password" pInputText [(ngModel)]="oldpass" />
    <h4 class="p-3">Nueva Contraseña Contraseña</h4>
    <input class="p-3" type="password" pInputText [(ngModel)]="newpass" />
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="changePass()"
      label="Guardar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
